{% extends 'admin/index.html.twig' %}

{% block title %}Edit Origin{% endblock %}

{% block body %}
    <h1>Edit Origin</h1>

    {{ include('origin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('origin_index') }}">back to list</a>

    {{ include('origin/_delete_form.html.twig') }}
{% endblock %}
