{% extends 'base.html.twig' %}

{% block title %}Modifier un apport{% endblock %}

{% block body %}
    <h1>Modifier un apport</h1>

    {{ include('bring/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('bring_index') }}">Retour à la liste</a>

    {{ include('bring/_delete_form.html.twig') }}
{% endblock %}
