{% extends 'layout_admin.html.twig' %}

{% block title %}Nouvel Apport{% endblock %}

{% block body %}
    <div class="flex-column">
        <h1 class="h1-Product-Admin">Ajouter un apport</h1>

        {{ include('bring/_form.html.twig') }}

        <a href="{{ path('bring_index') }}">
            <button class="btn btn-secondary m-1">Retour à la liste</button>
        </a>
    </div>
{% endblock %}
