{% extends 'admin/index.html.twig' %}

{% block title %}Marque index{% endblock %}

{% block body %}
    <div class="flex-column text-center">
        <h1 class="mt-3">Liste des marques</h1>

        <a href="{{ path('brand_new') }}">
            <button class="btn btn-secondary mb-3 center-button">Enregistrer une nouvelle marque</button>
        </a>
        <div class="row">
        {% for brand in brands %}
            <div class="card col-5 m-3">
                <div class="card-body row justify-content-between align-items-center pt-1 pb-1">
                    <h6 class="ml-2">{{ brand.name }}</h6>
                    <a href="{{ path('brand_edit', {'id': brand.id}) }}">
                        <button class="btn btn-secondary">Modifier</button>
                    </a>
                </div>
            </div>
            {% else %}
                <div>Pas de marque enregistrée</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
