{% extends 'admin/index.html.twig' %}

{% block title %}Marque index{% endblock %}

{% block body %}
    <div class="flex-column text-center">
        <h1 class="h1-Admin">Liste des marques</h1>

        <a href="{{ path('brand_new') }}">
            <button class="btn btn-secondary mb-3 center-button">Enregistrer une nouvelle marque</button>
        </a>
        <table class="table-admin">
            <thead class="header-table-admin">
            <tr>
                <th>Nom</th>
                <th></th>
            </tr>
            </thead>
            <tbody class="body-table-admin">
            {% for brand in brands %}
                <tr>
                    <td>{{ brand.name }}</td>
                    <td>
                        <a href="{{ path('brand_edit', {'id': brand.id}) }}"><button class="btn btn-secondary">Modifier</button></a>
                    </td>
                </tr>
            {% else %}
                <div>Pas de marque enregistrée</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
