.title-evaluation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .content-header {
        text-align: center;
        width: 30%;
    }
}

.header-evaluation{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.image-evaluation{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin:3vh;
    width: 150px;

    .product-img{
        margin:2%;
        height: 150px;
        width: 150px;
    }

    .product-barCode{
        margin:2%;
        height: 100px;
        width: 150px;
    }
}

.value-evaluation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: $fontText;
    font-size: $h2Size;
    margin: 2%;

    .product-reference{
        width: 40%;

        p{
            font-size: $textSize;
        }
    }
}

.graph-evaluation{
    margin: auto;
    padding-right: 10px;
}

.canvas{
    width: 90%;
    height: 90%;
}

.ingredients-evaluation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $fontText;
    font-size: $h3Size;
    border-bottom: $boxColor 2px solid;

    .ingredient-title{
        width: 100%;
        background: $gradientBackground;
    }

    div{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-size: $textSize;
        margin-bottom: 1vh;

        p{
            display: flex;
            width: 50%;
            justify-content: center;

            a {
                width: 50%;
                text-align: center;
                color: $white;
            }
        }
    }
}

.note-evaluation{
    display: flex;
    flex-direction: row;
    margin-top: 2vh;

    .note{
        padding: 20px 20px;
        background-color: $boxColor;
        font-size: $h1Size;
        color: $lightColor;
        width: 6rem;
        text-align: center;
    }

    div{
        padding-left: 5px;
        align-content: center;

        .titre{
            font-size: $h2Size;
        }
    }
}

@media screen and (max-width: 800px) {
    .header-evaluation {
        display: flex;
        flex-direction: column;
        width: 100%;

        .image-evaluation {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width:100%;
        }
    }

    .value-evaluation {
        flex-direction: column;
        text-align: center;

        .product-reference{
            width: 100%;
        }
    }
}

@media screen and (max-width: 540px){
    .title-evaluation {
        display: flex;
        flex-direction: column;
        text-align: center;


        .content-header {
            width: 100%;
        }
    }

}