.h1-Product-User{
    font-family: $fontTitle;
    color: $titleColor;
    font-size: $h1Size;
    font-weight: $fontWeightTitle;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.card-header-user{
    font-size: $h3Size;
    color: $titleColor;
}

.header-user-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 5vh;
    margin:4rem;
}

.all-card-user-product{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card-product-user{
    margin : 1rem;
    text-align: center;
    width: 22%;
}

.search-container{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 32%;
    form {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}