.header-user-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 5vh;
    margin: 4rem;
}

.index-product-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;

    .filter {
        width: 20%;
    }

    .product {
        width: 75%;
        display: flex;
        justify-content: center;
    }
}

.all-card-user-product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .card-product-link {
        text-decoration: none;
        margin: 1rem;
    }

    .card-product-user {
        text-align: center;
        width: 15rem;

        .card-header-user {
            font-size: $h3Size;
            color: $hoverColor;
        }

        .card-body {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            color: $textColor;

            .card-item {
                display: flex;
                flex-direction: column;

                .product-img {
                    width: 60px;
                    height: 60px;
                    margin-top: 1vh;
                }

                .card-note {
                    margin-top: 1vh;
                    font-size: $textSize;
                }
            }
        }
    }
}

.card-product-user:hover {
    background-color: $titleColor;
    box-shadow: 5px 5px 5px 0 $hoverColor;

    .card-header-user {
        color: $textColor;
    }

    .card-body {
        background-color: $navbarColor;
    }
}

.search-container {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 34%;

    form {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}

.filter-container {
    margin-top: 5vh;
    position: sticky;
    top: 15vh;
}

.nothing-found {
    font-size: $h3Size;
    margin-top: 5vh;
}


@media screen and (max-width: 991px) {

    .index-product-container {
        display: flex;
        flex-direction: column;

        .filter {
            width: 100%;
            display: flex;
            justify-content: center;

            .filter-container {
                width: 90%;
            }
        }

        .product {
            width: 100%;
            margin-top:  4vh;
        }
    }
    .all-card-user-product {

        .card-product-link {
            width: 100%;
            text-align: center;

            .card-product-user {
                width: 100%;
            }
        }
    }
}