{% extends 'admin/index.html.twig' %}

{% block title %}Administration - Page Nutriments{% endblock %}

{% block body %}
    <div class="flex-column text-center box-title-nutrient">
        <h1 class="h1-Admin">Liste des nutriments</h1>

        <a href="{{ path('nutrient_new') }}"><button class="btn btn-secondary mb-3 center-button">Enregistrer un nouveau nutriment</button></a>
        <table class="table-admin">
            <thead class="header-table-admin">
            <tr>
                <th>Nom</th>
                <th></th>
            </tr>
            </thead>
            <tbody class="body-table-admin">
            {% for nutrient in nutrients %}
                <tr>
                    <td>{{ nutrient.name }}</td>
                    <td>
                        <a href="{{ path('nutrient_edit', {'id': 'x'}) }}"><button class="btn btn-secondary">Modifier</button></a>
                    </td>
                </tr>
        {% else %}
            <div>Pas de nutriments enregistrés</div>
        {% endfor %}
    </div>
{% endblock %}
