{% extends 'admin/index.html.twig' %}

{% block title %}Nouveau nutriment{% endblock %}

{% block body %}
    <h1>Creation d'un nouveau nutriment</h1>

    {{ include('nutrient/_form.html.twig') }}

    <a href="{{ path('nutrient_index') }}">back to list</a>
{% endblock %}
