{% extends 'layout_admin.html.twig' %}

{% block title %}Ajouter Type de Nutriment{% endblock %}

{% block body %}
    <div class="flex-column">
        <h1 class="h1-Admin">Ajouter un nouveau type de nutriments</h1>

        <div class="flex-column">
            {{ include('nutrient_type/_form.html.twig') }}
        </div>
        <a href="{{ path('nutrient_type_index') }}"><button class="btn btn-secondary mb-1">Retour à la liste</button></a>
    </div>
{% endblock %}
