{% extends 'admin/index.html.twig' %}

{% block title %}Edit Food{% endblock %}

{% block body %}
<div class="flex-column text-center">

    <h1 class="h1-Admin">Modifier un aliment</h1>

    {{ include('food/_form.html.twig', {'button_label': 'Valider les modifications'}) }}

    {{ include('food/_delete_form.html.twig') }}

    <a href="{{ path('food_index') }}"><button class="btn btn-secondary mb-3 mt-3">Retour à la liste</button></a>

</div>
{% endblock %}
