.box-title-nutrient {
    margin-top: 2em;
}

.box-title-nutrient > h1 {
    font-family: $fontTitle;
    color: $titleColor;
}

.button-suppr-nutrient {
    margin-top: 1em;
    margin-bottom: 1em;
}

.button-update-nutrient {
    margin-top: 1em;
    margin-bottom: 1em;
}

.button-return-list-nutrient {
    margin-top: 1em;
}