.h1-contact {
    color: $titleColor;
    font-size: $h1Size;
    font-family: $fontTitle;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.box-form-contact {
    margin-bottom: 4em;
}

.box-form-contact label {
    color: $textColor;
    font-size: $textSize;
    font-family: $fontText;
}

.box-form-contact input {
    border: 2px solid $titleColor;
    height: 30px;
    width: 500px;
}

.box-form-contact textarea {
    border: 2px solid $titleColor;
}

.box-form-contact #contact_message {
    width: 500px;
    height: 200px;
}

