@import "presentation";

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.margeHome {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.animal {
    margin-bottom: 10vh;
}
