{% extends 'admin/index.html.twig' %}

{% block title %}Modification origine ingrédient{% endblock %}

{% block body %}
    <div class="flex-column text-center">
        <h1 class="h1-Admin">Modifier une origine d'ingrédient</h1>

        {{ include('/admin/origin/_form.html.twig', {'button_label': 'Valider les modifications'}) }}

        {{ include('/admin/origin/_delete_form.html.twig') }}
        {% if origin.ingredients is not empty %}
            <p class="alert-danger mt-2"><i class="fas fa-exclamation-circle"></i>
                Attention si vous supprimez cette origine, tous les ingrédients liés seront également supprimés</p>
        {% endif %}

        <a href="{{ path('origin_index') }}">
            <button class="btn btn-secondary mb-3 mt-3">← Retour à la liste</button>
        </a>
    </div>
{% endblock %}
