{% extends 'admin/index.html.twig' %}

{% block title %}Liste des origines ingrédients{% endblock %}

{% block body %}
    <div class="flex-column text-center">
        <h1 class="h1-Admin">Liste des origines ingrédients</h1>

        <a href="{{ path('origin_new') }}">
            <button class="btn btn-secondary mb-3 center-button">Ajouter une nouvelle origine</button>
        </a>
        <div class="row">
            {% for origin in origins %}
                <div class="card mt-3 mb-3 col-8 offset-2">
                    <div class="card-body row justify-content-between align-items-center p-2">
                        <h4 class="ml-2">{{ origin.name }}</h4>
                        <a href="{{ path('origin_edit', {'id': origin.id}) }}"><button class="btn btn-secondary text-right">Editer</button></a>
                    </div>
                </div>
            {% else %}
                <div>Pas d'origine enregistrée</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
