{% extends 'admin/index.html.twig' %}

{% block title %}Nouvelle origine ingrédient{% endblock %}

{% block body %}
    <div class="flex-column">
        <h1 class="h1-Admin">Ajouter une nouvelle origine d'ingrédient</h1>

        <div class="flex-column">
            {{ include('/admin/origin/_form.html.twig') }}
        </div>
        <a href="{{ path('origin_index') }}">
            <button class="btn btn-secondary mb-1">← Retour à la liste</button>
        </a>
    </div>
{% endblock %}
