{% extends 'admin/index.html.twig' %}

{% block title %}Nouvel Animal{% endblock %}

{% block body %}
    <h1 class="animalTitle">Créer un Nouvel Animal</h1>

    {{ include('animal/_form.html.twig') }}

    <a href="{{ path('animal_index') }}">Retour</a>
{% endblock %}
