{% extends 'layout.html.twig' %}
{% block title %}Nutrition{% endblock %}
{% block body %}
    <div class="container-fluid">
        <h1 class="h1-nutrition">Nutrition</h1>
        <div class="box-nutrition-general">
            <h2 class="h2-nutrition">Carnivores ou omnivores?</h2>
            <p class="text-nutrition">
                La question de savoir si le chien est un
                carnivore ou un omnivore fait depuis
                longtemps l'objet d'un débat. Le Conseil
                national de recherches des Académies
                nationales et certaines grandes
                entreprises d'aliments pour chiens considèrent
                les chiens comme omnivores. Cependant, la
                plupart des vétérinaires holistiques
                croient que les chiens sont carnivores.
            </p>
            <p class="text-nutrition">
                Par définition, un animal qui mange
                sans distinction toutes sortes d'aliments,
                d'origine animale et végétale, est omnivore.
                Les humains sont considérés comme omnivores.
                Un carnivore est un animal qui ne consomme
                que de la chair. Les chats, par exemple,
                sont plus facilement acceptés par la plupart
                des gens comme étant carnivores. Ensuite,
                il y a les herbivores, des animaux qui se
                nourrissent de plantes, comme les chevaux
                et le bétail.
            </p>
            <div class="box-elements-nutrition-general">
                <h3 class="h3-nutrition">Le système gastro-intestinal</h3>
                <p class="text-nutrition">
                    Puisque nous parlons d'évolution alimentaire,
                    le système gastro-intestinal est l'adaptation
                    la plus évidente au départ. La digestion d'un
                    régime à base de plantes est par nature très
                    différente de celle d'un régime à base de
                    viande. Les plantes contiennent beaucoup de
                    cellulose et d'amidon. Pour décomposer ces
                    matières, l'organisme a besoin d'enzymes
                    digestives uniques ainsi que de la dentition
                    appropriée pour broyer et décomposer ces
                    gros composants.
                </p>
                <p class="text-nutrition">
                    L'amylase et la cellulase sont les enzymes
                    digestives dont l'organisme a besoin pour
                    transformer les amidons et la cellulose
                    d'origine végétale en sucres qui peuvent
                    ensuite être absorbés par l'intestin grêle
                    ou, dans le cas de la cellulose, fermentés
                    davantage pour développer des macronutriments
                    alimentaires utiles. Les herbivores et les
                    omnivores sécrètent de l'amylase dans leur
                    salive pour commencer la décomposition des
                    amidons en glucose dès que la plante entre
                    dans la bouche.
                    Comme les carnivores mangent très peu
                    d'aliments végétaux, ils ne se sont pas
                    adaptés pour produire de l'amylase salivaire.
                    Les chats et les chiens ne produisent pas
                    d'amylase salivaire.
                </p>
            </div>
        </div>
    </div>
{% endblock %}