.header-admin-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .search-container{
        margin-left: 20%;
    }
}

.btn-add{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.card-admin-product{
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.card-product{
    margin : 1rem;
    text-align: center;
    min-width: 15rem;
}

.admin-search-container{
    display: flex;
    align-content: center;
    justify-content: center;

    form {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}
