$navbarColor: rgb(227, 213, 205);
$titleColor: rgb(180,158,143);
$textColor: rgb(33, 33, 33);
$lightColor: rgb(252, 250, 250);
$backColor: rgb(227, 213, 205);
$boxColor: rgba(196, 196, 196,0.5);
$hoverColor: rgb(134, 113, 99);
$bodyFilter: rgba(255, 255 ,255 ,0.9);
$mainFilter: rgba(227, 213 ,205 ,0.3);

$transparent : rgba(255, 255, 255, 0);
$gradientBackground: linear-gradient(0.25turn, $boxColor , $transparent);
$gradientGood: linear-gradient(180deg, rgba(28,171,0,1) 0%, rgba(28,171,0,0.4) 50%, rgba(28,171,0,1) 100%);
$gradientMedium: linear-gradient(180deg, rgba(224,139,8,1) 0%, rgba(224,139,8,0.4) 50%, rgba(224,139,8,1) 100%);
$gradientBad: linear-gradient(180deg, rgba(224,36,8,1) 0%, rgba(224,36,8,0.4) 50%, rgba(224,36,8,1) 100%);

$inherit: inherit;

$textSize: 21px;
$h1Size: 57px;
$h2Size: 35px;
$h3Size: 26px;
$footerTitleSize: 23px;
$footerTextSize: 18px;

$fontTitle:'Comfortaa', sans-serif;
$fontText: 'Barlow', sans-serif;
$fontWeightTitle: bold;
$fontStyleItalic: italic;

// Graph colors -> go on assets/js/graph.js