@import "vars";
@import "~bootstrap/scss/bootstrap";
@import "home/home.scss";
@import 'navbar.scss';
@import "footer_public";
@import "admin/admin.scss";
@import "home/blog.scss";
@import "home/nutrition.scss";
@import "user/product/product.scss";

body {
    background-image: url("../images/chiens_plage.jpg");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 10000000px 0 0 0 $backgroundFilter ;
    height: 100%;
    bottom: 0;
}

main{
    margin-top: 4vh;
    margin-bottom: 3vh;
    min-height: 63vh;
}
