@import "vars";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import "~bootstrap/scss/bootstrap";
@import "home/home.scss";
@import 'navbar.scss';
@import "footer_public";
@import "admin/admin.scss";
@import "home/blog.scss";
@import "home/nutrition.scss";
@import "user/product/product.scss";
@import "home/contact.scss";

body {
    background-image: url("../images/chiens_plage.jpg");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 10000000px 0 0 0 $backgroundFilter ;
    height: 100%;
    margin-top: 6vh;
}

main{
    margin-bottom: 35vh;
    min-height: 100vh;
}
