@import "vars";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import "~bootstrap/scss/bootstrap";
@import "admin/admin.scss";
@import "user/user.scss";
@import "errors.scss";
@import "connexion.scss";


body {
    background-image: url("../images/chiens_plage.jpg");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 10000000px 0 0 0 $bodyFilter ;
    height: 100%;
    margin-top: 6vh;
    min-height: 100vh;
}

main{
    min-height: 70vh;
    box-shadow: inset 10000000px 0 0 0 $mainFilter ;
    padding-top: 5vh;
}
