.field-input {
    margin-top: 5px;
    margin-bottom: 30px;
}

.field-connexion {
    margin-top: 5px;
    margin-bottom: 30px;
}

.forget-password a{
    text-decoration: none;
    color: $titleColor;
    font-size: $h2Size;
}

.forget-password a:hover{
    color: $hoverColor;
}
