.box-errors-p-errors {
    margin-top: 4em;
    text-align: center;
}

.img-error-page {
    width: 30%;
}

.txt-error-page {
    color: $titleColor;
    font-size: $h2Size;
    font-family:$fontTitle;
    margin-top: 1em;
}