{% extends 'layout_admin.html.twig' %}

{% block title %}Modifier une question{% endblock %}

{% block body %}
    <div class="flex-column">
        <h1 class="h1-Admin">Modification d'une question/réponse</h1>

        {{ include('faq/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a href="{{ path('faq_index') }}"><button class="btn btn-secondary">Retour à la liste</button></a>

        {{ include('faq/_delete_form.html.twig') }}
    </div>
{% endblock %}
