<h1 class="h1-Admin">Bienvenue</h1>
<h3 class="h3-Admin" id="introduction">Introduction</h3>
<p>
    Cette page est dédiée à l'administration de votre site, elle vous donne pleine accès à toutes les parties
    modifiables de celui-ci. Tout en haut de cette page vous trouverez une barre de navigation regroupant l'ensemble
    des fonctionnalités que vous pourrez effectuer sur les différentes pages administrables. Vous trouverez ci-dessous
    le détail de chaque fonctionnalités regroupées par section. En outre chaque action de votre part telle que "Ajouter,
    Modifier, Supprimer" sera confirmé par l'affichage en haut à droite d'un message de validation.
</p>
<h2 class="h2-Admin">Guide d'utilisation administrateur</h2>
<h3 class="h3-Admin-sommaire">Sommaire</h3>
<div class="a-Admin">
    <p><a href="#introduction">Introduction</a></p>
    <p><a href="#1">1 - Le lien "Administrateur"</a></p>
    <p><a href="#2">2 - Le lien "Animal"</a></p>
    <p><a href="#2.1">2.1 - Le lien "Ajouter"</a></p>
    <p><a href="#2.2">2.2 - Le lien "Modifier"</a></p>
    <p><a href="#2.3">2.3 - Le lien "Supprimer"</a></p>
    <p><a href="#3">3 - La section "Produit"</a></p>
    <p><a href="#3.1">3.1 - Le champs de "Recherche"</a></p>
    <p><a href="#3.2">3.2 - Le lien "Ajouter"</a></p>
    <p><a href="#3.3">3.3 - Le lien "Modifier"</a></p>
    <p><a href="#4">4 - La section "Nutrition"</a></p>
    <p><a href="#4.1">4.1 - Le lien "Ajouter un nouveau nutriment"</a></p>
    <p><a href="#4.2">4.2 - Le lien "Modifier"</a></p>
    <p><a href="#5">5 - La section "Ingrédient"</a></p>
    <p><a href="#5.1">5.1 - Le champs de "recherche"</a></p>
    <p><a href="#5.2">5.2 - Le lien "Ajouter un nouvel ingrédient"</a></p>
    <p><a href="#5.3">5.3 - Le Lien "Modifier"</a></p>
    <p><a href="#6">6 - La section "Blog"</a></p>
    <p><a href="#6.1">6.1 - Le lien "Ajouter un article"</a></p>
    <p><a href="#6.2">6.2 - Le lien "Modifier"</a></p>
    <p><a href="#7">7 - La section "Utilisateur"</a></p>
    <p><a href="#8">8 - La section "Autres Tables"</a></p>
    <p><a href="#8.1">8.1 - Le lien "FAQ"</a></p>
    <p><a href="#8.1.1">8.1.1 - Le lien "Ajouter une nouvelle question/éponse"</a></p>
    <p><a href="#8.1.2">8.1.2 - Le lien "Modifier"</a></p>
    <p><a href="#8.2">8.2 - Le lien "Marques"</a></p>
    <p><a href="#8.2.1">8.2.1 - Le lien "Ajouter une nouvelle marque"</a></p>
    <p><a href="#8.2.2">8.2.2 - Le lien "Modifier"</a></p>
    <p><a href="#8.3">8.3 - Les liens "Origines", "Formes", "Nutriments", "Aliments"</a></p>
    <p><a href="#9">9 - Le lien "Retour au site"</a></p>
    <p><a href="#10">10 - Le lien "Se déconnecter"</a></p>
</div>
<h3 class="h3-Admin" id="1">1 - Le lien "Administrateur"</h3>
<p>
    A tout moment où que vous soyez dans la partie "Admin", ce lien vous permet de revenir à la page d'accueil de
    la partie administrative par un simple clique sur celui-ci.
</p>
<h3 class="h3-Admin" id="2">2 - La section "Animal"</h3>
<p>
    Le lien vous renvoie sur la page index qui "liste les animaux".
    A partir de celle-ci vous pourrez gérer l'affichage des articles de votre "Homepage", en ajouter, modifier, ou tout
    simplement les supprimer .
</p>
<h4 class="h4-Admin" id="2.1">2.1 - Le lien "Ajouter"</h4>
<p>
    Il se situe en haut de page pour plus de facilité et vous renvoie sur le formulaire permettant l'ajout d'un
    article pour votre page d'accueil.
    Il comprend les champs "Titre", "Description", et "Image" à remplir avant d'enregistrer
    votre nouvel animal.
    Un bouton parcourir permet d'uploader un fichier image de votre choix.
    Enfin un bouton "Retour vers la liste" vous renvoie sur l'index des animaux si vous décidez de n'effectuer aucun
    choix.
</p>
<h4 class="h4-Admin" id="2.2">2.2 - Le lien "Modifier"</h4>
<p>
    Il vous renvoie sur la page qui edite un animal déjà existant que vous avez préalablement sélectionné.
    Vous pourrez y modifier les différents éléments le concernant et éventuellement le supprimer.
    Une "checkbox Supprimer" a été prévue pour le cas où lors du changement d'une image vous ne vouliez pas
    conserver l'ancienne.
    Pour plus de détails concernant la suppression d'un "Animal" voir le paragraphe suivant. Enfin vous
    pourrez valider vos modifications grâce au bouton "Enregistrer" ou retourner à l'index animal grâce au bouton
    "Retour à la liste".
</p>
<h4 class="h4-Admin" id="2.3">2.3 - Le lien "Supprimer"</h4>
<p>
    Attention lors de la suppression d'un animal vous supprimerez tous les produits reliés à celui-ci. Le message
    suivant situé sous le bouton "Supprimer" vous le rappellera à chaque suppression.
    "Attention si vous supprimez cet animal tous les produits liés seront également supprimés."
    De plus suite à l'appui sur le bouton "Supprimer" un message  vous demandera de valider cette action
    qui sera suivi d'un message de confirmation qui apparaîtra en haut à droite de votre écran.
</p>
<h3 class="h3-Admin" id="3">3 - La section "Produit"</h3>
<p>
    Ce Lien vous renvoie sur la page index "Tous les produits". Elle contient un barre de recherche ainsi
    que deux boutons "Ajouter un produit" et "Modifier".
</p>
<h4 class="h4-Admin" id="3.1">3.1 - Le champs de "Recherche"</h4>
<p>
    Il prend en charge un pattern de caractères qui peuvent se trouver n'importe où dans le terme relatif au produit
    recherché. Ainsi par exemple la recherche "edi" renverra entre autre dans le résultat de recherche aussi bien
    "pedigree" que "editour" ou encore "éditer".
</p>
<h4 class="h4-Admin" id="3.2">3.2 - Le lien "Ajouter"</h4>
<p>
    Il se situe en haut de page pour plus de facilité et vous renvoie sur le formulaire permettant l'ajout d'un
    produit.
    Il comprend deux sous formulaires "Références" et "Ajout d'un produit", regroupant différents champs à remplir
    avant d'enregistrer votre nouveau produit. Un bouton parcourir permet d'uploader un fichier image de votre choix et
    des boutons sélecteurs vous permettent de choisir différentes options avant de valider votre recherche après l'appui sur
    le bouton "Enregistrer .
</p>
<h4 class="h4-Admin" id="3.3">3.3 - Le lien "Modifier"</h4>
<p>
    Il vous renvoie sur la page qui modifie un "Produit" existant que vous avez préalablement sélectionné.
    Il comprend trois sous formulaires "Informations Générales", "Apports du Produit", "Les Ingrédients" et "Ajout
    d'un produit", regroupant différents champs à remplir avant afin d'enregistrer votre nouveau produit.
    Vous pourrez y modifier les différents éléments le concernant et éventuellement le supprimer.
    Une "checkbox Supprimer" a été prévue pour le cas où lors du changement d'une image vous ne vouliez pas
    conserver l'ancienne.
    Dans le sous formulaire "Les ingrédients", une liste select permet d'ajouter un ingrédient avec son pourcentage
    par rapport au produit sélectionné dans le champs situé juste au dessus, afin de l'ajouter à la liste se situant à
    gauche.
    Dans cette liste d'ingrédient située à gauche vous avez la possibilité de supprimer le(s) ingrédients) d'un
    produit.
    Enfin vous pourrez valider vos modifications grâce au bouton "Enregistrer" ou retourner à l'index animal grâce
    au bouton "Retour à la liste".
</p>
<h3 class="h3-Admin" id="4">4 - La section "Nutrition"</h3>
Ce Lien vous renvoie sur la page index "Liste des nutriments".
Elle affiche la liste des nutriments ainsi que deux boutons "Ajouter un nouveau nutriment" et/ou le "Modifier".
<h4 class="h4-Admin" id="4.1">4.1 - Le lien "Ajouter un nouveau nutriment"</h4>
<p>
    Cette page vous renvoie sur un formulaire qui permet l'ajout d'un nouveau nutriment. Celui-ci est constitué de
    trois champs "Titre", "Description", et un champs 'input' pour l'ajout d'une image qui facilite la maintenance, articles et
    affichage images côté visiteur, de la page "Nutrition" accessible par le lien du même non situé dans le navigateur.
    Deux boutons sous le formulaire permettent le validation de votre ajout et le retour à la liste des nutriments.
</p>
<h4 class="h4-Admin" id="4.2">4.2 - Le lien "Modifier"</h4>
Il est situé en vis à vis sur chaque chaque ligne du nutriment à modifier. Il renvoie sur un formulaire de modification du nutriment
si il existe. Constitué des mêmes champs que le formulaire d'ajout d'un nutriment, il sera pré-remplit par un nutriment situé en
base de donnée. Vous pouvez le modifier à votre convenance avant de valider tous les changements que vous avez effectué. Vous avez
aussi la possibilité de supprimer ce dernier grâce au bouton "Mettre à jour" et de retourner à la liste des nutriments avec celui
"Retourner à la liste".
<h3 class="h3-Admin" id="5">5 - La section "Ingrédient"</h3>
<p>
    Elle renvoie sur une page constituée d'un listing de tous les ingrédients administrables situés en base de
    données et classés par ordre
    alphabétique du "Nom de l'ingrédient". Les champs "Nom", "Type précisé", "Morceau précisé", "Note", "Origine",
    "Forme", "Type de Nutriment"
    vous renseignent sur le type de l'ingrédient et sont modifiables par un formulaire accessible via le bouton
    "Modifier" en fin de chaque ligne.
</p>
<h4 class="h4-Admin" id="5.1">5.1 - Le champs de "recherche"</h4>
Il autorise la recherche sur tous les ingrédients via un paterne de recherche ne se situant pas nécessairement en début de mot et/ou
sur le premier. Par exemple la recherche avec le paterne "de lai" renvoie entre autre dans les résultats de recherche "salade laitue"
si celui-ci est en base de donnée.
<h4 class="h4-Admin" id="5.2">5.2 - Le lien "Ajouter un nouvel ingrédient"</h4>
Il renvoie sur le formulaire d'ajout d'un ingrédient constitué des champs "Nom", "Note", "Forme", "Origine", "Type de nutriment" ainsi que
deux checkbox pour valider si "type précisé" et/ou "Morceau précisé" sont indiqués dans la composition de l'ingrédient.
Enfin deux boutons permettent d'enregistrer les modifications pour l'un et le retour à la liste des ingrédients pour l'autre.
<h4 class="h4-Admin" id="5.3">5.3 - Le Lien "Modifier"</h4>
<p>
    Il vous renvoie sur la page qui edit un "ingrédient" existant que vous avez préalablement sélectionné.
    Il comprend les champs "Nom", "Note", "Origine", "Forme", "Type de nutriment" ainsi que les deux checkbox pour
    valider si "type précisé" et/ou "Morceau précisé" sont à indiqués dans la composition de l'ingrédient.
    Vous pourrez modifier les différents éléments le concernant et éventuellement le supprimer.
    Enfin vous pourrez valider vos modifications grâce au bouton "Modifier" ou retourner à l'index des ingrédients
    grâce au bouton "Retour à la liste".
</p>
<h3 class="h3-Admin" id="6">6 - La section "Blog"</h3>
<p>
    Elle vous renvoie Sur la section administrative gérant la partie "Blog" de votre site web. Elle affiche une page
    listant tous les articles du blog apparaissant coté visiteur où ils sont seulement consultables. Elle dispose des liens
    "Ajouter un article" et "Modifier" qui vous renvoient sur des formulaires d’administrations pour gérer leurs parutions et
    modifications et éventuellement suppressions.
</p>
<h4 class="h4-Admin" id="6.1">6.1 - Le lien "Ajouter un article"</h4>
<p>
    Il vous renvoie sur un formulaire permettant la création d'un article. Il contient les champs "Titre",
    "Description", "Date", ainsi qu'un lien "Choisir une image" qui vous permet d'en télécharger une de votre choix pour agrémenter la
    teneur de votre article.
    Vous disposez aussi des boutons "Enregistrer" et "Retour à la liste" pour confirmer l'ajout de votre nouvel
    article pour l'un et retourner à l'index de articles pour l'autre.
</p>
<h4 class="h4-Admin" id="6.2">6.2 - Le lien "Modifier"</h4>
<p>
    Il affiche l'article que vous désirez modifier après que vous l'ayez sélectionné via la touche "Modifier" dans
    la liste des articles. Il reprend les champs du formulaire d'ajout d'un article avec en plus une checkbox "Supprimer?"
    pour vous valider.
    le cas échéant la suppression de l'image en base de donnée que vous venez de remplacer. Si vous ne cochez pas
    cette case la nouvelle image prendra la place de la précédente sans supprimer l'ancienne en base de donnée, ce qui vous laisse
    la possibilité de la sélectionner sans la télécharger de nouveau.
    Vous disposez également des boutons "Modifier" pour valider vos modifications, ainsi que des boutons "Supprimez"
    pour éventuellement effectuer la suppression d'un article n'ayant plus la pertinence requise sur le blog de votre
    site, et "Retour" pour revenir à l'index des articles.
</p>
<h3 class="h3-Admin" id="7">7 - La section "Utilisateur"</h3>
<p>
    Elle renvoie sur la page listant l'ensemble des utilisateurs inscrit sur votre site. Vous pouvez en rechercher
    un en particulier grâce au champs de recherche intégré qui effectue la recherche sur les premières lettres de
    l’identifiant de la personne recherchée.
    Vous pouvez consulter la fiche individuelle de chaque membre en cliquant sur le bouton "Voir" en vis à vis de
    chaque ligne. La fiche individuelle reprends pour l'instant l'ensemble des informations affichées sur le listing utilisateur
    ainsi qu'un bouton "Supprimer" si vous voulez radier le membre concerné de l'espace membre et le bouton retour
    pour revenir à la liste utilisateurs.
</p>
<h3 class="h3-Admin" id="8">8 - La section "Autres Tables"</h3>
<p>Elle déroule un menu "Dropdown" qui vous donne accès à la gestion de six autres tables:
    - FAQ: Gère la foire aux questions.
    - Marques: Gère les marques de vos produits.
    - Origines: Gère les origines de vos produits.
    - Formes: Gère les formes de vos produits.
    - Nutriments: Gère les nutriments de vos produits.
    - Aliments: Gère les aliments de vos produits.
    Les cinq dernières tables traitent des sous formulaires qui permettent l’alimentation en données des
    formulaires de gestions des produits.
</p>
<h3 class="h3-Admin" id="8.1">8.1 - Le lien "FAQ"</h3>
<p>
    Il ouvre la page "Liste des Questions/Réponses" qui liste l'ensemble des questions/réponses que vous avez au
    préalable configurées et qui en générale regroupe les interrogations essentielles de vos utilisateurs pour la bonne
    utilisation ou information sur votre site.
    Vous y trouvez également le bouton "Ajouter une nouvelle question/réponse" qui vous renvoie sur le formulaire de
    création d'une question/réponse, ainsi qu'un bouton "Modifier" devant chaque question/réponse déjà existante afin de
    gérer son contenu.
</p>
<h4 class="h4-Admin" id="8.1.1">8.1.1 - Le lien "Ajouter une nouvelle question/réponse"</h4>
<p>
    Il donne accès au formulaire de création d'un nouvelle question/réponse. Vous y trouverez les champs suivants:
    - "Titre" qui gère l'identification de votre question/réponse.
    - "Question" qui prend en charge la question posée.
    - "Réponse" qui rend en charge la réponse que vous voulez apporter à la question posée ci-dessus.
    Enfin les boutons "Enregistrer" pour valider votre ajout en base de donnée et le bouton "Retour" qui vous ramène
    au liste des questions/réponses.
</p>
<h4 class="h4-Admin" id="8.1.2">8.1.2 - Le lien "Modifier"</h4>
<p>
    Présent en bout de ligne en vis à vis de chaque "Titre de la question" Il vous donne accès au formulaire de
    modification de l'élément sélectionné. Ce formulaire regroupe les mêmes champs que le formulaire d'ajout et vous permet
    toutes les modifications nécessaires avant l'enregistrement en base de donnée via le bouton "Modifier", ou la suppression
    définitive via le bouton "Supprimer la question". On y retrouve aussi le bouton "Retour" qui vous ramène à la liste des
    questions/réponses.
</p>
<h3 class="h3-Admin" id="8.2">8.2 - Le lien "Marques"</h3>
<p>
    Il renvoie sur le listing des marques des produits présents sur le site. Il comporte les liens "Ajouter une
    nouvelle marque" et "Modifier" qui renvoient respectivement sur les formulaires de création d'une nouvelle marque et de
    modification d'une marque déjà existante.
</p>
<h4 class="h4-Admin" id="8.2.1">8.2.1 - Le lien "Ajouter une nouvelle marque"</h4>
<p>
    Il renvoie sur le formulaire de création d'une nouvelle marque qui ne contient que ce champs avec un bouton
    "Enregistrer" pour l'enregistrer en base de donnée et valider sa disponibilité dans le "listing des marques", ainsi que sur
    les formulaires d'ajout et de modifications via le sélecteur "marque". Un bouton "Retour à la liste" est également disponible
    pour revenir à la liste des marques.
</p>
<h4 class="h4-Admin" id="8.2.2">8.2.2 - Le lien "Modifier"</h4>
<p>
    Présent en vis à vis de chaque marque sur la page de listing des marques, il renvoie au formulaire de
    modifications de la marque sélectionnée. On y retrouve l'unique champ présent sur le formulaire d'ajout pré-rempli ainsi que les
    boutons "Modifier" qui valide vos modification et le bouton "Retour" qui renvoie sur le listing des marques.
    Un troisième Bouton "Supprimer" en rouge, accompagné d'un message d'avertissement de la même couleur, vous
    informe que toute suppression volontaire ou involontaire de votre part via l'appui sur ce bouton supprimera de manière définitive
    tout les produits lié à cette marque. Ils seront définitivement supprimés de votre base de donné une fois que le message
    d'avertissement contenu dans une pop-up vous demandant "Êtes-vous sûr de vouloir supprimer cette marque?" aura été validé. Si
    vous cliquez "OK" sur cette pop-up l'action s’exécutera comme citée ci-dessus et vous n'aurez plus accès à ces données. Un message
    en vert apparaîtra en haut à droite vous confirmant que votre action à bien été exécutée. En outre le lien "Annuler" sur
    la pop-up vous ramènera sur le formulaire de modification.
</p>
<h3 class="h3-Admin" id="8.3">8.3 - Les liens "Origines", "Formes", "Nutriments", "Aliments"</h3>
<p>
    Ils renvoient sur des formulaires dont la structure est identique à celui de la gestion de la marque documenté
    au paragraphe précédent (cf: 8.2 - Le lien "Marques"). Ils comportent tous le même risque élevé de perte de
    donnée lors de la suppression.
    - La suppression d'une "Origine", "Forme", "Type de nutriment" entraînera la suppression net et définitive en
    base de donnée de l'élément "ingrédient" auquel ils se rapportent.
    - La suppression d'un "Aliment" entraînera la suppression net et définitive en base de donnée de l'élément
    "produit" auquel il se rapporte.
</p>
<h3 class="h3-Admin" id="9">9 - Le lien "Retour au site"</h3>
<p>
    Il bascule l'administrateur sur le site web en mode "utilisateur connecté". A ce stade pour des raisons de
    sécurité il faudra vous déconnecter de votre statut utilisateur pour vous reconnecter en tant que 'admin' avec vos identifiants
    pour accéder de nouveau à la partie administrative de votre site.
</p>
<h3 class="h3-Admin" id="10">10 - Le lien "Se déconnecter"</h3>
<p>
    Il renvoie sur la page d’accueil du site en mode "visiteur classique"
    La navigation sur ce mode d'utilisation ainsi que celle du mode membre est décrite dans le guide de
    l'utilisateur accessible par un lien dans le pied de page.
</p>