<nav class="navbar navbar-admin navbar-expand-lg navbar-light">
    <a class="navbar-brand-admin" href="/admin">Administrateur</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse nav-item-container-admin" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item nav-item-admin">
                <a class="nav-link-admin" href="{{ path('animal_index') }}">Homepage</a>
            </li>
            <li class="nav-item nav-item-admin">
                <a class="nav-link-admin" href="#">Evaluation</a>
            </li>
            <li class="nav-item nav-item-admin">
                <a class="nav-link-admin" href="#">Nutrition</a>
            </li>
            <li class="nav-item nav-item-admin">
                <a class="nav-link-admin" href="#">Alimentation</a>
            </li>
            <li class="nav-item nav-item-admin">
                <a class="nav-link-admin" href="#">Conseil Santé</a>
            </li>
            <li class="nav-item nav-item-admin">
                <a class="nav-link-admin" href="#">Contacts</a>
            </li>
            <li class="nav-item nav-item-admin">
                <a class="nav-link-admin" href="#">Blog</a>
            </li>
        </ul>
    </div>
</nav>
