{% extends 'admin/index.html.twig' %}

{% block title %}Modification forme ingrédient{% endblock %}

{% block body %}
    <div class="flex-column text-center">
        <h1 class="h1-Admin">Modifier une forme d'ingrédient</h1>

        {{ include('shape/_form.html.twig', {'button_label': 'Valider les modifications'}) }}

        {{ include('shape/_delete_form.html.twig') }}

        <a href="{{ path('shape_index') }}"><button class="btn btn-secondary mb-3 mt-3">Retour à la liste</button></a>
    </div>
{% endblock %}
