{% extends 'admin/index.html.twig' %}

{% block title %}Shape index{% endblock %}

{% block body %}
    <div class="flex-column text-center">
        <h1 class="h1-Product-Admin">Liste des formes d'ingrédients</h1>

        <a href="{{ path('shape_new') }}"><button class="btn btn-secondary mb-3 center-button">Ajouter une nouvelle forme</button></a>
        {% for shape in shapes %}
            <div class="card mt-3 mb-3 col-8 offset-2">
                <div class="card-body row justify-content-between align-items-center">
                    <h4 class="ml-2">{{ shape.name }}</h4>
                    <a href="{{ path('shape_edit', {'id': shape.id}) }}"><button class="btn btn-secondary text-right">Editer</button></a>
                </div>
            </div>
        {% else %}
            <div>Pas de forme enregistrée</div>
        {% endfor %}
    </div>
{% endblock %}
