.colornav {
    background-color: $navbarColor;
    padding: 0;
    font-family: $fontText;
}

.navbar-brand {
    padding: 0;
    font-family: $fontTitle;
    font-weight: $fontWeightTitle;

    img{
        height: 75px;
        width: 75px;
    }
}

.navbarLogo {
    margin-right: 10px;
}

.nav-item {
    margin: 10px;
    font-size: $textSize;
}

.dropdown-menu {
    padding: 0;
    background-color: $navbarColor;
    margin: 0;
    border-radius: 0;
}

.dropdown-item:hover {
    background-color: inherit;
}

.connexion{
    margin-right: 2vw;
}

.nav-user{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


@media screen and (max-width: 540px) {
    .connexion {
        display: none;
    }

    .navbar-nav {
        width: 100%;
        text-align: center;

        .nav-item .dropdown-menu {
            text-align: center;
        }
    }

}
