{% extends 'admin/index.html.twig' %}

{% block title %}Edition d'un nutriment{% endblock %}

{% block body %}
    <div class="flex-column text-center box-title-nutrient">
            <h1 class="h1-Admin">Modification d'un nutriment</h1>
            <div class="flex-column">
                    {{ include('/admin/nutrient/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
            </div>
        <a href="{{ path('nutrient_index') }}">
            <button class="btn btn-secondary mb-1 button-return-list-nutrient">← Retourner à la liste</button>
        </a>

        {{ include('/admin/nutrient/_delete_form.html.twig') }}
    </div>
{% endblock %}
