<footer class="container-fluid">
    <div class="row footer-line-date">
        <div class="date-footer col-6">
            <small>2019 by Carni & Co</small>
        </div>
        <nav class="col-6 links-footer-social">
            <a href="#" class="link-social-footer">Facebook</a>
            <a href="#" class="link-social-footer">Instagram</a>
            <a href="#" class="link-social-footer">Twitter</a>
        </nav>
    </div>
    <div class="row footer-line-social-icon">
        <div class="offset-8 box-icon-social-footer">
            <a href="#"><img src="/img/facebook-square-brands.svg" alt="Facebook" class="icon-social-footer"/></a>
            <a href="#"><img src="/img/twitter-square-brands.svg" alt="Twitter" class="icon-social-footer"/></a>
            <a href="#"><img src="/img/youtube-square-brands.svg" alt="Youtube" class="icon-social-footer"/></a>
            <a href="#"><img src="/img/instagram-brands.svg" alt="Instagram" class="icon-social-footer"/></a>
        </div>
    </div>
    <div class="box-m-legals-footer">
        <a href="#" class="link-legals-m-footer">Mentions légales</a>
    </div>
    <div class="box-mail-footer">
        <p class="txt-mail-footer">example@mail.com</p>
    </div>
</footer>