<footer class="container-fluid footer-user">
    <div class="footer-information">
        <a class="title">Informations générales</a>
        <a class="text" href="#">Mentions légales</a>
        <a class="text" href="#">Nos partenaires</a>
        <a class="text" href="#">Nous contacter</a>
        <a class="text">Carni & Co by Wild Code School</a>
    </div>
    <div class="footer-logo">
        <img alt="" src="https://via.placeholder.com/150">
    </div>
    <div class="footer-resaux">
        <a class="title">Nos Résaux</a>
        <a class="text" href="#"><i class="fab fa-facebook-square" aria-hidden="true"></i>  Facebook</a>
        <a class="text" href="#"><i class="fab fa-twitter-square" aria-hidden="true"></i>  Twitter</a>
        <a class="text" href="#"><i class="fab fa-instagram" aria-hidden="true"></i>  Instagram</a>
        <a class="text" href="#"><i class="fab fa-youtube-square" aria-hidden="true"></i>  Youtube</a>
    </div>
</footer>