{% extends 'layout.html.twig' %}
{% block title %}Mentions légales{% endblock %}
   {% block body %}
      <h1 class="h1-legal">Mentions légales</h1>
      <div class="box-legales-mentions">
         <h2 class="h2-legal">Editeur</h2>
         <p class="txt-legal">Monsieur John Doe</p>
         <p class="txt-legal">13, rue de la République 45000 Orléans</p>
         <p class="txt-legal">06-06-06-06-06</p>
         <p class="txt-legal">Directeur de la publication: Monsieur John Doe</p>
      </div>
      <div class="box-legales-mentions">
         <h2 class="h2-legal">Hébergeur</h2>
         <p class="txt-legal">OVH SAS</p>
         <p class="txt-legal">2 rue Kellerman 59100 Roubaix France</p>
         <p class="txt-legal">https://www.ovh.com</p>
      </div>
   {% endblock %}