<form method="post" action="{{ path('admin_product_delete', {'id': product.id}) }}" onsubmit="return confirm('Etes-vous sûr(e) de vouloir supprimer ce produit?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="btn btn-danger mb-1"><i class="far fa-trash-alt"></i> Supprimer</button>
</form>
