{% extends 'admin/index.html.twig' %}

{% block title %}Modifier le Produit{% endblock %}

{% block body %}
    <div class="flex-column">
        <h1 class="h1-Product-Admin">Modifier un produit</h1>

        <div class="flex-column">
            {{ include('product/_form.html.twig', {'button_label': 'Modifier'}) }}
            {{ include('product/_delete_form.html.twig') }}

        </div>
        <a href="{{ path('product_index') }}">
            <button class="btn btn-secondary mb-1">Retour à la liste</button>
        </a>
    </div>
{% endblock %}
