{% extends 'admin/index.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block body %}
<div class="flex-column">
    <h1 class="h1-Admin">Enregistrer un nouveau produit</h1>

    <div class="flex-column">
    {{ include('admin/product/_form.html.twig') }}
    </div>
    <a href="{{ path('admin_product_index') }}"><button class="btn btn-secondary mb-1">Retour à la liste</button></a>
</div>

{% endblock %}
