{% extends 'admin/index.html.twig' %}

{% block title %}Ajout forme d'ingrédient{% endblock %}

{% block body %}
    <div class="flex-column">
        <h1 class="h1-Admin">Ajouter une nouvelle forme d'ingrédient</h1>

        <div class="flex-column">
            {{ include('/admin/shape/_form.html.twig') }}
        </div>
        <a href="{{ path('shape_index') }}">
            <button class="btn btn-secondary mb-1">← Retour à la liste</button>
        </a>
    </div>
{% endblock %}
