{% extends 'admin/index.html.twig' %}

{% block title %}Nouvelle Marque{% endblock %}

{% block body %}
    <div class="flex-column">
    <h1 class="h1-Admin">Enregistrer une nouvelle marque</h1>

    <div class="flex-column">
    {{ include('/admin/brand/_form.html.twig') }}
    </div>
    <a href="{{ path('brand_index') }}"><button class="btn btn-secondary mb-1">← Retour à la liste</button></a>
    </div>
{% endblock %}
