{% extends 'layout.html.twig' %}
{% block title %}Carni and Co - Une erreur est survenue{% endblock %}
{% block body %}
    <div class="box-errors-p-errors">
        <img src="{{asset('build/cat-hidden.jpg')}}" class="img-error-page" alt="Une erreur est survenue">
        <h1 class="txt-error-page">Une erreur est survenue. Merci d'accéder à cette page plus tard!</h1>
    </div>
{% endblock %}