{% extends 'layout.html.twig' %}
{% block title %}Carni and Co - Page non trouvée{% endblock %}
{% block body %}
    <div class="box-errors-p-errors">
        <img src="{{asset('build/cat-hidden.jpg')}}" class="img-error-page" alt="Page non trouvée">
        <h1 class="txt-error-page">La page demandée est introuvable!</h1>
    </div>
{% endblock %}