{% extends 'layout.html.twig' %}
{% block title %}Carni and Co - Accès interdit{% endblock %}
{% block body %}
    <div class="box-errors-p-errors">
        <img src="{{asset('build/cat-hidden.jpg')}}" class="img-error-page" alt="Accès interdit">
        <h1 class="txt-error-page">Vous n'avez pas l'autorisation d'accéder à cette page!</h1>
    </div>
{% endblock %}