.title_create {
    margin-top: 3vh;
}

.animalTitle {
    margin-top: 5vh;
}

.margeHome {
    margin-top: 5vh;
}

a {
    text-decoration: none;
    color: $textColor;
}

a:hover {
    text-decoration: none;
    color: $hoverColor;
}
