@import "product/product.scss";

@import "admin_HomePage.scss";

.navbar-brand {
    color: $titleColor;
    font-family: $fontText;
}

.nav-item {
    color: $titleColor;
    font-family: $fontText;
}

.mr-auto {
    margin-left: 25vw;
}
