@import "animal/animal.scss";
@import "blog/blog.scss";
@import "home/home.scss";
@import "nutrient/nutrient.scss";
@import "product/product.scss";
@import "nutrient/nutrient.scss";
@import "navbarAdmin.scss";
@import "table_admin.scss";

*{
    font-family: $fontText;
}

.h1-Admin{
    font-family: $fontTitle;
    color: $titleColor;
    font-size: $h1Size;
    font-weight: $fontWeightTitle;
    text-align: center;
    margin-bottom: 3vh;
    padding-top: 1em;
}
