@import "../_vars.scss";
@import "~bootstrap/scss/bootstrap";

.navbar-brand {
    color: $titleColor;
    font-family: $fontText;
}

.nav-item {
    color: $titleColor;
    font-family: $fontText;
}

.mr-auto {
    margin-left: 25vw;
}

