.h1-nutrition {
    text-align: center;
    color: $titleColor;
    font-size: $h1Size;
    font-family: $fontTitle;
    margin-top: 1em;
    margin-bottom: 1em;
}

.box-nutrition {
    margin-right: 2em;
    margin-left: 2em;
    padding-bottom: 4em;
}

.h2-nutrition {
    color: $titleColor;
    font-size: $h2Size;
    font-family: $fontTitle;
}

.text-nutrition {
    color: $textColor;
    font-size: $textSize;
    font-family: $fontText;
}

.box-elements-nutrition-general {
    margin-top: 1em;
}

.h3-nutrition {
    color: $textColor;
    font-size: $h3Size;
    font-family: $fontText;
    font-weight: $fontWeightTitle;
    margin-top: 1em;
    margin-bottom: 1em;
}

.card-nutrition {
    border: none;
    margin-top: 1em;
    background-color: transparent;
}

.text-nutrition-italic {
    color: $textColor;
    font-size: $textSize;
    font-family: $fontText;
    font-weight: $fontWeightTitle;
    font-style: $fontStyleItalic;
}

.nutrition-img {
    margin-top: 46px;
    object-fit: cover;
    height: 80%;
}

.box-img-carni-nutrition {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.box-img-carni-nutrition > .img-nutrition-carni {
    width: 40%;
    border-radius: 5px;
}

.link-faq-collapse:hover {
    text-decoration: none;
}

@media screen and (min-width: 200px) and (max-width: 540px) {
    .box-img-carni-nutrition > .img-nutrition-carni {
        width: 80%;
    }
}
