{% extends 'layout_admin.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1 class="h1-Admin">Ajouter un nouvel utilisateur</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}"><button class="btn btn-secondary">Retour à la liste</button></a>
{% endblock %}
