{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="record-button mb-4">
    <button class="btn btn-secondary"><i class="far fa-save"></i> {{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}
