{% extends 'admin/index.html.twig' %}

{% block title %}Modifier un animal{% endblock %}

{% block body %}
    <h1 class="h1-Admin">Modifier un animal</h1>

    {{ include('admin/animal/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <p>
        <a href="{{ path('animal_index') }}"> <button class="btn btn-secondary">← Retour à la liste</button></a>
    </p>
    {{ include('admin/animal/_delete_form.html.twig') }}
    {% if animal.products is not empty %}
        <p class="alert-danger mt-2"><i class="fas fa-exclamation-circle"></i>
            Attention si vous supprimez cet animal tous les produits liés seront également supprimés</p>
    {% endif %}
{% endblock %}
