{% extends 'admin/index.html.twig' %}

{% block title %}Modifier un animal{% endblock %}

{% block body %}
    <h1 class="h1-Admin">Modifier un animal</h1>

    {{ include('admin/animal/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <p>
        <a href="{{ path('animal_index') }}"> <button class="btn btn-secondary">Retour à la liste</button></a>
    </p>
    {{ include('admin/animal/_delete_form.html.twig') }}
{% endblock %}
