{% extends 'admin/index.html.twig' %}

{% block title %}Nouvel Animal{% endblock %}

{% block body %}
<div class="flex-column text-center box-title-animal">
    <h1 class="h1-Admin">Créer un Nouvel Animal</h1>

    {{ include('/admin/animal/_form.html.twig') }}

    <a href="{{ path('animal_index') }}"> <button class="btn btn-secondary">← Retour à la liste</button></a>

</div>
{% endblock %}
